<ul>
      {% unless page.url == '/' or page.layout == 'home' %}
      <li>
        <a href = "{{ '/' | relative_url }}">
          Home
        </a>
      </li>
      {% endunless %}
      {% comment %}
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          About
        </a>
      </li>
      {% endcomment %}
      <li>
        <a href = "{{ 'projects/' | relative_url }}">
          Projects
        </a>
      </li>
      {% comment %}
      <li>
        <a href = "{{ 'blog/' | relative_url }}">
          Blog
        </a>
      </li>
      {% endcomment %}
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          Resume
        </a>
      </li>
      {% comment %}
      <li>
        <a href = "{{ 'giving/' | relative_url }}">
          Giving
        </a>
      </li>
      {% endcomment %}
</ul>