---
title: Diego Garcia
layout: default
---
<div class="mid-section-home">
    <h1><span>Hi, I'm </span>{{ site.author_name }}</h1>
    <div class="row sub-heading">
        <div class="home-blurb">
            <p>I'm a mechanical engineer who loves being part of something bigger than myself. I've had the pleasure of working on precision-manufactured components that end up on Navy submarines, and autonomous robots built for missions like NASA's Artemis program. I'm always looking to learn and grow my skillset, so here's a selection of my projects below. 
        </div>
    </div>
</div>

{{ content }}
